*{
    font-family: sans-serif;
    margin: 20px auto;
    box-sizing: border-box;
    width: 700px;
}

header{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
    background:rgb(99, 150, 33)
}

h2{
    text-align:center;
    color: rgb(35, 35, 128);
    
}

a{
    text-decoration:none;
    color: rgb(99, 150, 33)
}


ul{
    color:blueviolet;
}

ol{
    color:rgb(96, 150, 26)
}

.rec{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding:40px;
    
}

footer{
    background: rgb(202, 201, 201);
    text-align: center;
}

